@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary-50: 254 242 242;
  --color-primary-100: 254 226 226;
  --color-primary-200: 254 202 202;
  --color-primary-300: 252 165 165;
  --color-primary-400: 248 113 113;
  --color-primary-500: 239 68 68;
  --color-primary-600: 220 38 38;
  --color-primary-700: 185 28 28;
  --color-primary-800: 153 27 27;
  --color-primary-900: 127 29 29;
  --color-primary-950: 69 10 10;
}

/* For custom scrollbars */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #e2e8f0;
  border-radius: 10px;
}
html.dark ::-webkit-scrollbar-thumb {
  background: #475569;
}
::-webkit-scrollbar-thumb:hover {
  background: #94a3b8;
}
html.dark ::-webkit-scrollbar-thumb:hover {
  background: #64748b;
}

/* For DataTable column resizing */
.resizer {
  position: absolute;
  top: 0;
  right: 0;
  width: 5px;
  cursor: col-resize;
  user-select: none;
  height: 100%;
  z-index: 10;
}
.resizer:hover, .resizing {
  background: rgb(var(--color-primary-500));
  opacity: 0.5;
}
th {
  position: relative;
}
